@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{

    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    background-color: black;

}

.construction{

    width: 100%;
    height: 100vh;

}

header{

    background-color: black;
    height: 100vh;
    color: aliceblue;
    width: 100%;

}

.header_content_image > img{

    width: 100%;
    height: 100vh;

}

.header_content_image{

    position: fixed;
    width: 100%;

}

.header_content_text{

    font-size: 30px;
    color: white;
    position: fixed;
    left: 3%;
    top: 20%;
    /* font-size: 50px; */
    text-align: center;
    text-shadow: 2px 2px 5px #EECB25;

}

h1{

    font-size: 50px;

}

h2{

    font-size: 70px;

}

.farola{

    text-decoration: underline;
    color: #EECB25;

}

.header_content_button{

    width: 22%;
    background-color: #EECB25;
    text-align: center;
    height: 10vh;
    position: relative;
    border-radius: 15px;
    align-content: center;
    font-size: 30px;
    left: 12%;
    top: 70%;
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    box-shadow: 3px 3px 16px white;
    overflow: hidden;
    transition: background 0.5s ease;
    


}

.header_content_button:hover{

    background: rgba(100, 0, 0, .03);

}

/* Prueba de animación de CSS */

.arrow{

    animation: scrolly 2s forwards infinite;
    perspective: 9000px;
    transform: translateZ(0);
    transform-origin: right;

}

  
@keyframes scrolly {
    0% {
      transform: translate3d(-50%,0,0) skewX(1deg);
    }
    30% {
      transform: translate3d(0,0,0) skewX(0deg);
    }
    70% {
      transform: translate3d(0,0,0) skewX(0deg);
    }
    100% {
      transform: translate3d(80%,0,0);
    }
}

.header_content_button > a > img{

    width: 100%;
    height: 10vh;

}



.header_content_information{

    width: 30%;
    position: fixed;
    background-color: rgba(240, 248, 255, 0.837);
    color: black;
    border: 2px solid #EECB25;
    border-radius: 25px;
    left: 60%;
    text-align: center;
    top: 15%;
    height: 70vh;

}

.inf{

    width: 90%;
    margin: 5%;

}

.inf > article{

    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 2%;

}

.inf > article > img{

    width: 10%;

}

.inf > article > p{

    width: 40%;
    text-align: start;
    margin-left: 5%;
    font-size: 20px;

}

h3{
    font-size: 30px;
    margin: 0%;
    color: #796813;
    text-decoration: underline;
}

.valoration{

    margin: 0%;
    width: 30%;
    margin-left: 2%;
    position: fixed;
    top: 70%;
    left: 58%;

}

.valoration > img{

    width: 100%;

}   

/* Visit Us */

.header_content_image_introduction > img{

    width: 100%;
    height: 100vh;

}

.header_content_image_introduction{

    position: fixed;
    width: 100%;

}

.visit_header_content_letter{

    position: fixed;    
    width: 100%;
    top: 22%;
    left: 5%;

}

.visit_header_content_letter > h2{

    font-size: 60px;

}

.visit_header_content_letter > article{

    width: 40%;
    font-size: 25px;

}

.visit_header_content_letter > a{

    background-color: #eecc2562;
    border: 1px solid white;
    box-shadow: 1px 1px 3px white;
    font-size: 25px;
    text-decoration: none;
    color: white;
    border-radius: 10px;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 10%;
    margin-top: 2%;
    position: fixed;
    text-transform: uppercase;
    cursor: pointer;
    transition: background .8s ease;

    /* Probando nuevos métodos de CSS */

    &:hover{

        background: rgba(100, 0, 0, .03);

    }

}



/* VIP */
.visit_header_content_vip{

    position: fixed;
    left: 70%;
    top: 20%;
    text-shadow: 3px 3px 3px white;
    
}

.visit_header_content_vip > article{

    left: 59%;
    width: 29%;
    position: fixed;
    /* text-align: justify; */
    color: black;
    font-size: 20px;
    background-color: white;
    padding: 1%;
    border-radius: 20px;
    border: 2px solid black;

}






/* Fondo de la carta */

/* Hago el estilo del cuadrado, lo giro y le añado la animación, cada cuadrado contendrá unos segundos de animación diferentes */

.square1{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 20px;
    left: 40px;
    transform: rotate(45deg);
    animation: back 2s ease infinite;

}

.square2{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 57px;
    left: 150px;
    transform: rotate(45deg);
    animation: back 5s ease infinite;

}

.square3{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 39px;
    left: 300px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}


.square4{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 19px;
    left: 500px;
    transform: rotate(45deg);
    animation: back 4s ease infinite;

}

.square5{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 69px;
    left: 700px;
    transform: rotate(45deg);
    animation: back 7s ease infinite;

}

.square6{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 54px;
    left: 900px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square7{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 89px;
    left: 1200px;
    transform: rotate(45deg);
    animation: back 10s ease infinite;

}

.square8{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 34px;
    left: 1400px;
    transform: rotate(45deg);
    animation: back 6s ease infinite;

}

.square9{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 190px;
    left: 67px;
    transform: rotate(45deg);
    animation: back 6s ease infinite;

}

.square10{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 180px;
    left: 199px;
    transform: rotate(45deg);
    animation: back 2.5s ease infinite;

}

.square11{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 210px;
    left: 340px;
    transform: rotate(45deg);
    animation: back 10.5s ease infinite;

}

.square12{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 180px;
    left: 580px;
    transform: rotate(45deg);
    animation: back 5s ease infinite;

}

.square13{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 220px;
    left: 820px;
    transform: rotate(45deg);
    animation: back 5s ease infinite;

}

.square14{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 200px;
    left: 840px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square15{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 160px;
    left: 1040px;
    transform: rotate(45deg);
    animation: back 3.4s ease infinite;
}

.square16{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 200px;
    left: 1240px;
    transform: rotate(45deg);
    animation: back 9s ease infinite;

}

.square17{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 120px;
    left: 1340px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square18{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 250px;
    left: 140px;
    transform: rotate(45deg);
    animation: back 1.5s ease infinite;

}

.square19{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 340px;
    left: 290px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square20{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 300px;
    left: 490px;
    transform: rotate(45deg);
    animation: back 6s ease infinite;

}

.square21{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 282px;
    left: 690px;
    transform: rotate(45deg);
    animation: back 4.5s ease infinite;

}

.square22{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 322px;
    left: 800px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square23{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 242px;
    left: 950px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square24{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 272px;
    left: 1150px;
    transform: rotate(45deg);
    animation: back 7.5s ease infinite;

}

.square25{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 302px;
    left: 1450px;
    transform: rotate(45deg);
    animation: back 2s ease infinite;

}

.square26{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 412px;
    left: 40px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square27{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 442px;
    left: 180px;
    transform: rotate(45deg);
    animation: back 4s ease infinite;

}

.square28{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 402px;
    left: 400px;
    transform: rotate(45deg);
    animation: back 2s ease infinite;

}
.square29{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 382px;
    left: 600px;
    transform: rotate(45deg);
    animation: back 6.5s ease infinite;

}

.square30{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 395px;
    left: 1000px;
    transform: rotate(45deg);
    animation: back 6.5s ease infinite;

}

.square31{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 365px;
    left: 1300px;
    transform: rotate(45deg);
    animation: back 10.5s ease infinite;

}

.square32{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 555px;
    left: 90px;
    transform: rotate(45deg);
    animation: back 5.25s ease infinite;

}

.square33{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 505px;
    left: 290px;
    transform: rotate(45deg);
    animation: back 9s ease infinite;

}

.square34{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 495px;
    left: 500px;
    transform: rotate(45deg);
    animation: back 2.5s ease infinite;

}

.square35{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 455px;
    left: 700px;
    transform: rotate(45deg);
    animation: back 7s ease infinite;

}

.square36{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 505px;
    left: 900px;
    transform: rotate(45deg);
    animation: back 3.5s ease infinite;

}

.square37{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 440px;
    left: 1150px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square38{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 440px;
    left: 1350px;
    transform: rotate(45deg);
    animation: back 4s ease infinite;

}

.square39{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 640px;
    left: 50px;
    transform: rotate(45deg);
    animation: back 14s ease infinite;

}

.square40{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 540px;
    left: 220px;
    transform: rotate(45deg);
    animation: back 4.7s ease infinite;

}

.square41{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 690px;
    left: 200px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square42{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 590px;
    left: 400px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square43{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 610px;
    left: 600px;
    transform: rotate(45deg);
    animation: back 13s ease infinite;

}

.square44{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 560px;
    left: 800px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square45{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 590px;
    left: 1000px;
    transform: rotate(45deg);
    animation: back 8s ease infinite;

}

.square46{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 560px;
    left: 1200px;
    transform: rotate(45deg);
    animation: back 4s ease infinite;

}

.square47{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 540px;
    left: 1450px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square48{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 670px;
    left: 480px;
    transform: rotate(45deg);
    animation: back 10s ease infinite;

}

.square49{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 670px;
    left: 880px;
    transform: rotate(45deg);
    animation: back 3s ease infinite;

}

.square50{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 630px;
    left: 1100px;
    transform: rotate(45deg);
    animation: back 9.8s ease infinite;

}

.square51{

    background-color: rgba(255, 255, 255, 0.4);
    width: 10px;
    height: 10px;
    position: fixed;
    top: 630px;
    left: 1350px;
    transform: rotate(45deg);
    animation: back 15s ease infinite;

}

/* Animación del cuadrado */

@keyframes back {
    
    0%{
        opacity: 0;
    }

    50%{

        opacity: 1;

    }

    100%{

        opacity: 0;

    }

    

}


/* .nave1{

    top: 300px;
    left: 1000px;
    width: 50px;
    background-color: aliceblue;
    position: fixed;
    height: 5px;

}

.b_nave1{

    top: 280px;
    left: 1000px;
    width: 5px;
    background-color: aliceblue;
    position: fixed;
    height: 20px;


} */





/* Estructura Menú */

.general_content{

    width: 100%;
    display: flex;
}

.plate_content{

    color: white;
    width: 33%;

}

.plate_title > h2{

    margin: 5%;
    font-size: 50px;
    color: #EECB25;
    text-decoration: underline;
    text-align: center;

}

.plate{

    font-size: 15px;
    padding: 2%;
    text-align: justify;
    transition: background 1s ease;
    border-radius: 20px;
    margin: 1%;

}

.plate > h4{

    font-size: 20px;
    width: 50%;

}

.plate > p{

    padding: 0%;
    margin: 0%;

}

.plate:hover{

    background-color: #eecc2545;

}

.plate_ajust{

    display: flex;
    justify-content:space-between;

}

h4{

    color: #796813;
    font-size: 20px;

}

.price, .cal{

    font-size: 20px;
    color: red;

}

.plate_img{

    width: 5%;

}

.cal{

    color: green;

}


.return{

    width: 60px;
    position: fixed;
    top: 15px;
    left: 35px;
    transform: rotate(180deg);
    padding-left: 6px;
    padding-right: 6px;
    transition: all 1s ease;
    
}

.return:hover{

    border: 1px solid white;
    box-shadow: 2px 2px 4px white;

}





/* Hay un problema y es que las media queries en las páginas principales no las puedo hacer. */
/* Ya que el fondo está partido y no puedo hacer que se divida una parte debajo de otra, */
/* así que las dos primeras páginas no podré implementarlo adecuadamente. */
/* He implementado el mismo fondo pero con la diferencia de que no se puede ajustar a medida. */
/* Es una solución sin tener que reajustar la página html. */

/* Posible solución:

    <section> -> Que englobe  todo.

        <section> -> Para el lateral izquierdo del documento.

            <img src="enlace primera imagen">

            <section> -> Contenido.

            </section>

        </section>
    
        <section> -> Para el lateral derecho del documento.

            <img src="enlace segunda imagen">

            <section> -> Contenido.

            </section>

        </section>
    
    </section>

*/

/* Para hacer esta solución tendría que cambiar las imágenes e implementarlos. */
/* He escogido la solución de poner un background-image y quitar la imagen principal. */
/* Es una solución cutre pero rápida. */

@media (max-width: 700px){ /* Configurado de 700px x 700px */

    .header_content_text{

        left: 20%;
        top: 10%;
    
    }

    h1{

        font-size: 40px;
    
    }
    
    h2{
    
        font-size: 50px;
    
    }

    .header_content_button{

        width: 40%;
        left: 30%;
        top: 50%;
    
    }

    .header_content_image > img{

        visibility: hidden;

    }

    .header_content_image{

        background-image: url(../img/background_header.png);

    }

    .header_content_information{

        width: 80%;
        left: 10%;
        top: 65%;
        height: 30vh;
        display: flex;
        
    }

    .inf{

        width: 33%;
        margin: 3%;
    
    }

    
    .inf > article > img{
    
        width: 20%;
    
    }
    
    .inf > article > p{
    
        width: 100%;
        font-size: 15px;
    
    }
    
    h3{
        font-size: 20px;
    }
    
    .valoration{
    
        width: 50%;
        top: 83%;
        left: 23%;
    
    }
    
    .valoration > img{
    
        width: 100%;
    
    }




    /* Visit us */

    .header_content_image_introduction > img{

        visibility: hidden;

    }

    .header_content_image_introduction{

        background-image: url(../img/background_visit_us.png);

    }

    .visit_header_content_letter{

        width: 100%;
        top: 10%;
        left: 13%;
    
    }
    
    .visit_header_content_letter > h2{
    
        font-size: 50px;
    
    }
    
    .visit_header_content_letter > article{
    
        width: 78%;
        font-size: 20px;
    
    }
    
    .visit_header_content_letter > a{
    
        font-size: 30px;
        padding-left: 5%;
        padding-right: 5%;
        margin-left: 21%;
    
    }

    /* VIP */
    .visit_header_content_vip{

        left: 45%;
        top: 55%;
        
    }

    .visit_header_content_vip > article{

        left: 10%;
        width: 80%;
        font-size: 18px;
        top: 74%;
        text-align: center;
        

    }



    /* Carta */

    .general_content{

        width: 100%;
        display: block;
    }
    
    .plate_content{
    
        width: 100%;
    
    }
    
    .plate_title > h2{
    
        font-size: 60px;
    
    }
    
    .plate{
    
        font-size: 18px;
    
    }
    
    .plate > h4{
    
        font-size: 25px;
    
    }
    
    .price, .cal{
    
        font-size: 25px;
    
    }
    



}
